.menu {
  min-height: 45px;
  background-color: $light-grey;
  border-bottom: 1px dotted $border-color;
  margin-bottom: 13px;
  font-weight: $sans-bold;
}

.intro .intro,
.convite .convite,
.gifts .gifts,
.agenda .agenda,
.festival .festival {
  background-color: shade($light-grey, 10%);
}

.menu {
  padding-right: 46px;
}

.lang_nav {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 40px;
  overflow: hidden;
  height: 84px;
  background-color: $dark-grey;

  &.closed {
    background-color: transparent;
    li { display: none !important; }

    .title {
      display: block !important;
    }
  }

  .title {
    display:none;
    margin: 4px auto 0;
    background-position: 50% 50%;
  }

  .en {

    margin: 4px auto 0;
    border-bottom: 1px solid #505052;

    a {
      @include background-2x("lang_en");
      background-position: 50% 50%;
    }

  }

  .pt {
    padding-bottom: 0;

    a {
      @include background-2x("lang_pt");
      background-position: 50% 50%;
      height: 38px;
    }

  }

  a, span {
    height: 30px;
    display:block;
    @include hide-text;
  }

  li {
    width: 30px;
    margin: 0 auto;
    padding-bottom: 8px;
  }

}

.en .lang_nav .title span {
  @include background-2x("lang_en");
  background-position: 50% 50%;
}

.pt .lang_nav .title  span {
  @include background-2x("lang_pt");
  background-position: 50% 50%;
}

.page_nav {
  @include clearfix;
  width: 100%;

  li {

    border-top: 1px dotted $black;

    &:last-child {
      border-right: 1px dotted $black;

    }

    &.closed span {
      @include background-2x("seta");
      background-position: 98% 50%;
    }

    span {
      @include background-2x("seta-close");
      background-position: 98% 50%;
    }

    a, span {
      text-decoration: none;
      text-transform: uppercase;
      padding: 14px;
      display: block;
      color: $black;

      &:hover {
        color: $green;
      }

    }

    @media (min-width : 768px) {
      width: 20%;
      float:left;
      border-left: 1px dotted $black;
      border-top: none;
      text-align: center;

      a {
        font-size: 13px;
        padding: 16px 0 15px;
      }

      &.title {
        display: none;
      }
    }

  }

}
