.next-link {
  @include serif;
  color: $green;
  font-size: 24px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 42px 0;

  &:hover {
    text-decoration: underline;
  }

  span {
    @include inline-block;
    color: $white;
    background-color: $green;
    @include border-radius(40px);
    width: 25px;
    height: 25px;
    margin: -4px 0 0 6px;
    line-height: .9;
    text-align: center;
  }

}

.intro .next-link {
  @media (min-device-width : 768px) {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
